.indentlines {
    margin-left: 50px;
}

.post {
    text-align: center;
    margin: 10px 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(248, 244, 202);
    vertical-align: auto;
}