<div class="text-center" style="margin-top: 30px;">
    <h1>
        POSTS
    </h1>
    <button type="button" class="btn btn-outline-primary" (click)="pdfDownload()">Comments</button>
</div>
<ng-container *ngIf="loadPage">
    <div class="text-center">
        <div class="spinner-border" style="width: 7rem; height: 7rem; margin-top: 40px;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!loadPage">
    <div class="row">
        <div class="col-md-4 col-sm-1" *ngFor="let post of posts">
            <div class="post">
                <p>
                    <strong> {{ post.title | uppercase }} </strong>
                </p>
                <p>
                    <span>
                        {{ post.body }}
                    </span>
                </p>
                <button type="button" class="btn btn-outline-primary" (click)="showCommentOf(post.id)">Comments</button>
            </div>
        </div>
    </div>
</ng-container>