<div class="text-center" style="margin-top: 30px;">
   <h1>
    Comments for Post :  <strong> {{ postId }}</strong>
   </h1> 
</div>
<ng-container *ngIf="loadPage">
    <div class="text-center">
        <div class="spinner-border" style="width: 7rem; height: 7rem; margin-top: 40px;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!loadPage">
    <div class="row">
        <div class="col-md-4 col-sm-1" *ngFor="let comment of comments">
            <div class="comment">
                <p>
                    User Email: <strong> {{ comment.email }} </strong>
                </p>
                <p>
                    <span>
                        <b>{{ comment.name | uppercase }}</b>
                    </span>
                    <br />
                    <br />
                    <span>
                        {{ comment.body }}
                    </span>
                </p>
            </div>
        </div>
    </div>

</ng-container>

<div class="text-center" style="margin-top: 30px;">
    <button type="button" class="btn btn-dark" (click)="goToPosts()">Go to Posts</button>
</div>